Source: com.github.phase1geo.textshine
Section: x11
Priority: extra
Maintainer: Trevor Williams <phase1geo@gmail.com>
Build-Depends: meson,
               valac,
               debhelper,
               libgranite-dev,
               libxml2-dev,
               libgtk-3-dev,
               libgtksourceview-3.0-dev,
               libmarkdown2-dev,
               libcamel1.2-dev,
               libhandy-1-dev

Standards-Version: 3.9.3
Package: com.github.phase1geo.textshine
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Powerful text converter
