[Desktop Entry]
Name[it]=TextShine
Name[nl]=TextShine
Name=TextShine
GenericName[it]=TextShine
GenericName[nl]=TextShine
GenericName=TextShine
Comment[it]=Trasforma il testo in modo potente
Comment[nl]=Zet tekst om met dit krachtige hulpmiddel
Comment=Powerfully transform text
Categories=Utility;Development;WordProcessor;
Exec=com.github.phase1geo.textshine %f
Icon[it]=com.github.phase1geo.textshine
Icon[nl]=com.github.phase1geo.textshine
Icon=com.github.phase1geo.textshine
Terminal=false
Type=Application
MimeType=text/plain;
X-GNOME-Gettext-Domain=TextShine
X-GNOME-UsesNotifications=true
Keywords[it]=textshine;testo;conversione;converte;
Keywords[nl]=textshine;tekst;conversie;converteren;omzetten;
Keywords=textshine;text;conversion;convert;
Actions=EditClipboard;

[Desktop Action EditClipboard]
Name[it]=Modifica il testo degli Appunti
Name[nl]=Pas klembordtekst aan
Name=Edit Clipboard Text
Exec=com.github.phase1geo.textshine --use-clipboard
