[Desktop Entry]
Name=TextShine
GenericName=TextShine
Comment=Powerfully transform text
Categories=Utility;Development;
Exec=com.github.phase1geo.textshine
Icon=com.github.phase1geo.textshine
Terminal=false
Type=Application
MimeType=application/com.github.phase1geo.textshine;
X-GNOME-Gettext-Domain=TextShine
X-GNOME-UsesNotifications=true
Keywords=textshine;text;conversion;convert;
